<div class="container" >
  <div class="row">
    <%= form_with model: @user, local: true do |f| %>
      <%#= render 'shared/error_message' , object: @user%>
      <div class="form-group">
        <%= f.label :name %></br>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">  
        <%= f.label :email %></br>
        <%= f.email_field :email %>
      </div>
      <div class="form-group">
        <%= f.label :gender %></br>
        <%= f.select :gender, User.genders_i18n.invert.to_a %>
      </div>
       <div claass="form-group">
        <%= f.label :prefecture_code%></br>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {include_blank: '非公開'}%>
      </div>
      <div class="form-group">
        <%= f.label :password %></br>
        <%= f.password_field :password %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %></br>
        <%= f.password_field :password_confirmation %>
      </div></br>
      <%= f.submit 'ユーザー登録' %>
    <% end %>
  </div>
</div>