<div class="contaner ">
  <div class="card my-3 ">
    <%=link_to (post_path(post.id)), class:"post-detail-link" do%>
      <div class="row">
        <div class="col">
          <%= image_tag post.image_url, size: '300x200'%>
        </div>
        <div class="col-6">
            <%= image_tag post.user.icon.url, size: '50x50', class: "post-icon"%>
          <div class="row user-name">
            <%= post.user.name%>
            <%= post.user.pref.name%>
          </div>
          <div class="row-mx-5 content">  
            <%= post.content%>
          </div>
          <div class="row align-bottom">
            <p>投稿日:<%= post.updated_at.strftime("%Y-%m-%d")%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div