<div class="container post-show">
  <div class="card">
      <div class="row">
        <div class="col">
          <%= image_tag @post.image_url, size: '500x400',class: "post-img"%>
        </div>
        <div class="col">
            <%= image_tag @post.user.icon.url, size: '100x100', class: "post-icon"%>
          <div class="row user-name">
            <%= @post.user.name%>
            <%= @post.user.pref.name%>
          </div>
          <div class="row-mx-5 detail-content">  
            <%= @post.content%>
          </div>
          <div class="row align-bottom detail-date">
            <p>投稿日:<%= @post.updated_at.strftime("%Y-%m-%d")%></p>
          </div>
          <% if current_user&.own?(@post)%>
            <div class="row">
              <div class="col">
                <%=link_to'編集' , edit_post_path(@post), class:"cred-button"%>
                <%= link_to '削除', post_path(@post),class: "cred-button", form: { data: { turbo_confirm: '削除しますか?' }} ,data: { turbo_method: :delete } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div