<div class="container">
  <div class="row">
    <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <%= f.label :email, "メールアドレス"%>
        <%= f.email_field :email , class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :password ,"パスワード"%>
        <%= f.password_field :password , class: 'form-control'%>
      </div></br>
      <div class="form-group">
        <%= f.submit 'ログイン' , class: "btn btn-danger", id: "login-button"%>
      </div>
    <% end %>
  </div>  
</div>
